
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.cabecalho-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #f5f5f5;
    height: 80px;
    width: 100%;
}

.cabecalho-principal-laranja {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#FB5630;
    height: 80px;
    width: 100%;
}

.cabecalho-secundario{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #d1cccc;
    height: 45px;
}

.cabecalho-secundario-2{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #FB7730;
    height: 45px;
}

.cabecalho-secundario-cinza{
    display: flex;
    justify-content: center;   
    align-items: center;      
    gap: 30px;                
    height: 50px;             
    width: 100%;              
    color:#FB5630;
    cursor: pointer;
}

.cabecalho-secundario-laranja{
    display: flex;
    justify-content: center;   
    align-items: center;      
    gap: 30px;                
    height: 50px;             
    width: 100%;              
    color: #ffffff;
    cursor: pointer;
}

.logo-xhopii {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-xhopii img {
    height: 45px;
}

.entre-login {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.xhopii-padrao{
    font-size: 20px;
    font-weight: bold;
    color: #FB5630;
}

.xhopii-branca{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.ajuda-login a {
    text-decoration: none;
    color: #FB5630;
    font-size: 14px;
}

.sair{
    display: flex;
    align-items: center;
}

.sair a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


.main-login {
    background-color: #FB5630;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-fundo-branco{
    background-color: #ffffff;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.main-fundo-cinza{
    background-color: #C3C3C3;
    min-height: calc(100vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-fundo-branco-section{
    background-color: #ffffff;
    width: 500px;
    padding: 46px 36px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.main-fundo-branco-section-2{
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    padding: 30px 16px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.mini-card-padrao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.main-login-section {
    background-color: #ffffff;
    width: 390px;
    padding: 46px 36px;
    border-radius: 5px;
}

.card-padrao {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.card-padrao-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.input-padrao {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}


.botao-padrao {
    width: 100%;
    padding: 6px;
    background-color: #FB5630;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
}


.main-login-links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.main-login-links a {
    text-decoration: none;
    color: #2600ffd6;
}

/* OU */
.main-login-divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 13px;
    margin: 15px 0;
}

.main-login-divisor::before, .main-login-divisor::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}


.main-login-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-login-social button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
}


.main-login-fim {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}

.main-login-fim a {
    color: #FB5630;
    text-decoration: none;
}

.main-login-h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
}

.botao-social{
  
    height: 42px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
}

.botao-social img {
    width: 18px;
    height: 18px;
}


.rodape-principal {
    background-color: #f5f5f5;
    padding: 50px 10%;
    font-size: 13px;
    color: #555;
}


.rodape-colunas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-bottom: 30px;
}

.rodape-colunas h3 {
    white-space: nowrap; /* não quebrar a linha*/
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}

.rodape-colunas p { 
    white-space: nowrap;
    margin-bottom: 9px;
    cursor: pointer;
}

.rodape-colunas img {
    max-width: 150px;
}


.social-icone {
    width: 18px;
    height: 18px; 
}

.qrcode {
    width: 90px;
    margin-bottom: 10px;
}


footer hr {
    border: none;
    border-top: 1px solid #c3c3c3;
    margin: 30px 0;
}

.hr{
    border: none;
    border-top: 1px solid #FB5630;
   display: flex;
   align-items: center;
}

.rodape-copy {
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.seta-esquerda{
    position: absolute; 
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fotos-laterais img {
    width: 80px;
    cursor: pointer;
    border: none;
}

.fotos-laterais {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foto-lateral-destacada {
    border: 2px solid #FB5630 !important; 
}

.foto-lateral{
    opacity: 0.7;
}

.lista-botoes, .lista-tamanho {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.botoes-padroes{
    padding: 8px 15px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-top: 5px;
}

.botao-comprar{
    width: 120px;
    height: 50px;
    color:#ffffff;
    background-color:#FB5630;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.modelos{
    margin-top: 8px;
}

.preco{
    color:#FB5630;
    font-size: 35px;
    font: bold;
    margin-top: 20px;    
    margin-bottom: 10px;
}

.main-cadastro{
    text-align: left;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
    color: #FB5630;
}

.selecionar-foto{
    text-align: center;
    color:#FB5630
}

/* arrumar botão, texto, tamanho, titulo */
.enviar-arquivo{
    display: inline-block; 
    padding: 10px 20px;
    border: 2px solid #FB5630;
    border-radius: 10px;
    color: #FB5630;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    width: 150px;
}

.enviar-arquivo input{
    display: none; 
}
